{{- define "title" -}}
  {{- cond (.Param "capitalize_titles") (title .Title) .Title -}}
  {{- if .Site.Params.with_site_title }} {{ .Site.Params.title_delimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $markmapTitle := cond (.Param "capitalize_titles") (title .Title) .Title -}}
  {{- $content := .RawContent -}}
  {{- $content = $content | replaceRE `(?m)^(#{1,5})(\s+)` `#$1$2` -}}
  {{- $frontmatterData := dict "title" $markmapTitle -}}
  {{- with .Param "markmap" -}}
    {{- if reflect.IsMap . -}}
      {{- $frontmatterData = merge $frontmatterData (dict "markmap" .) -}}
    {{- end -}}
  {{- end -}}
  {{- $frontmatterData = partial "function/camel-case-keys.html" $frontmatterData -}}
  {{- $frontmatter := transform.Remarshal "yaml" $frontmatterData -}}
  {{- $content = printf "---\n%s\n---\n\n%s" $frontmatter $content -}}
  <article class="page single special markmap-page">
    <div class="markmap-split" data-markmap-split>
      <div class="markmap-pane markmap-pane--content">
        <div class="header">
          <h1 class="single-title animate__animated animate__pulse animate__faster">{{- $markmapTitle -}}</h1>
          {{- with .Param "subtitle" -}}<p class="single-subtitle animate__animated animate__fadeIn">{{ . | $.RenderString }}</p>{{- end -}}
        </div>

        <div class="content" id="content">
          {{- dict "Content" .Content "Ruby" (.Param "ruby") "Fraction" (.Param "fraction") "Fontawesome" (.Param "fontawesome") | partial "function/content.html" | safeHTML -}}
        </div>
      </div>

      <div class="markmap-divider" role="separator" aria-orientation="vertical" tabindex="0" aria-label="Resize">
        <button type="button" class="markmap-pane-toggle" aria-expanded="true" aria-label="Collapse content pane">
          <svg width="1em" height="1em" viewBox="0 0 24 24" aria-hidden="true">
            <path fill="currentColor" d="M14.7 6.3 8 13l6.7 6.7-1.4 1.4L5.2 13l8.1-8.1z"/>
          </svg>
        </button>
      </div>

      <div class="markmap-pane markmap-pane--map">
        <div class="markmap">
          <script type="text/template">{{ $content | replaceRE "</script>" "<\\/script>" | safeHTML }}</script>
        </div>
      </div>
    </div>
  </article>

  {{- .Store.Set "hasMarkmap" true -}}
{{- end -}}
